<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species Prediction</title>
</head>
<body>
    <h1>Enter Input for Prediction</h1>
    <form method="POST" action="/predict">
        <label for="sl">Sepal Length:</label>
        <input type="text" name="sl" required><br>

        <label for="sw">Sepal Width:</label>
        <input type="text" name="sw" required><br>

        <label for="pl">Petal Length:</label>
        <input type="text" name="pl" required><br>

        <label for="pw">Petal Width:</label>
        <input type="text" name="pw" required><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>
